!!! 5
%html
  %head
    %title InvisibleFriend
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = render 'layouts/boostrap_cdn'
  %body

    = render 'layouts/header'
    %main{role:'main'}
      = yield